Paperless.DataAccessOutlookPlugin/Service References/WebService/ServiceContract4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Paperless.Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Paperless.Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documento" nillable="true" type="tns:Documento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumento" nillable="true" type="tns:ArrayOfDocumento" />
  <xs:complexType name="Documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="EstadoFirmas" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Formato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="Leido" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuarioEmisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuarioReceptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documento" nillable="true" type="tns:Documento" />
  <xs:complexType name="ArrayOfDocumentoDetalleMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoDetalleMovimiento" nillable="true" type="tns:DocumentoDetalleMovimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoDetalleMovimiento" nillable="true" type="tns:ArrayOfDocumentoDetalleMovimiento" />
  <xs:complexType name="DocumentoDetalleMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoAccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoDetalleMovimiento" nillable="true" type="tns:DocumentoDetalleMovimiento" />
  <xs:complexType name="ArrayOfDocumentoDetalleRecibo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoDetalleRecibo" nillable="true" type="tns:DocumentoDetalleRecibo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoDetalleRecibo" nillable="true" type="tns:ArrayOfDocumentoDetalleRecibo" />
  <xs:complexType name="DocumentoDetalleRecibo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Emisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoFirmas" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receptor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoDetalleRecibo" nillable="true" type="tns:DocumentoDetalleRecibo" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEnvio" type="tns:Usuario.TipoEnvioEnum" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:simpleType name="Usuario.TipoEnvioEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Lectura" />
      <xs:enumeration value="Firma" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Usuario.TipoEnvioEnum" nillable="true" type="tns:Usuario.TipoEnvioEnum" />
  <xs:complexType name="ArrayOfEvento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Evento" nillable="true" type="tns:Evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvento" nillable="true" type="tns:ArrayOfEvento" />
  <xs:complexType name="Evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDReferencia" type="xs:int" />
      <xs:element minOccurs="0" name="NombreDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEvento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Revisado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Evento" nillable="true" type="tns:Evento" />
</xs:schema>