Paperless.DataAccessOutlookPlugin/Service References/WebService/WCFOrchestrator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFOrchestrator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54274/ServiceContract.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54274/ServiceContract.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54274/ServiceContract.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Paperless.Library" />
      <xsd:import schemaLocation="http://localhost:54274/ServiceContract.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceContract_ObtenerDocumentosAuditoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosAuditoria" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumentosAuditoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosAuditoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDetalleDocumentoAuditoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleDocumentoAuditoria" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDetalleDocumentoAuditoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleDocumentoAuditoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerTodosDocumentosAuditoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosDocumentosAuditoria" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerTodosDocumentosAuditoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosDocumentosAuditoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumentosPorMigrar_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosPorMigrar" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumentosPorMigrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosPorMigrarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumentosDeUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosDeUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumentosDeUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosDeUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumento" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDetalleDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleDocumento" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDetalleDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_MarcarLeido_InputMessage">
    <wsdl:part name="parameters" element="tns:MarcarLeido" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_MarcarLeido_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarcarLeidoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_FirmarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:FirmarDocumento" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_FirmarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirmarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerTodosUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosUsuarios" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerTodosUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerUsuariosXDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosXDepartamento" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerUsuariosXDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosXDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDetalleUsuarioAuditoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleUsuarioAuditoria" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDetalleUsuarioAuditoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleUsuarioAuditoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_EnviarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDocumento" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_EnviarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerEventosIrregulares_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEventosIrregulares" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerEventosIrregulares_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEventosIrregularesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerTiposDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposDocumento" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerTiposDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposDocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceContract">
    <wsdl:operation name="ObtenerDocumentosAuditoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosAuditoria" message="tns:IServiceContract_ObtenerDocumentosAuditoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosAuditoriaResponse" message="tns:IServiceContract_ObtenerDocumentosAuditoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleDocumentoAuditoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDetalleDocumentoAuditoria" message="tns:IServiceContract_ObtenerDetalleDocumentoAuditoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDetalleDocumentoAuditoriaResponse" message="tns:IServiceContract_ObtenerDetalleDocumentoAuditoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosDocumentosAuditoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerTodosDocumentosAuditoria" message="tns:IServiceContract_ObtenerTodosDocumentosAuditoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerTodosDocumentosAuditoriaResponse" message="tns:IServiceContract_ObtenerTodosDocumentosAuditoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosPorMigrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosPorMigrar" message="tns:IServiceContract_ObtenerDocumentosPorMigrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosPorMigrarResponse" message="tns:IServiceContract_ObtenerDocumentosPorMigrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosDeUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosDeUsuario" message="tns:IServiceContract_ObtenerDocumentosDeUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosDeUsuarioResponse" message="tns:IServiceContract_ObtenerDocumentosDeUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumento" message="tns:IServiceContract_ObtenerDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentoResponse" message="tns:IServiceContract_ObtenerDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDetalleDocumento" message="tns:IServiceContract_ObtenerDetalleDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDetalleDocumentoResponse" message="tns:IServiceContract_ObtenerDetalleDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarcarLeido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/MarcarLeido" message="tns:IServiceContract_MarcarLeido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/MarcarLeidoResponse" message="tns:IServiceContract_MarcarLeido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FirmarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/FirmarDocumento" message="tns:IServiceContract_FirmarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/FirmarDocumentoResponse" message="tns:IServiceContract_FirmarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/LogIn" message="tns:IServiceContract_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/LogInResponse" message="tns:IServiceContract_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerUsuario" message="tns:IServiceContract_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerUsuarioResponse" message="tns:IServiceContract_ObtenerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerTodosUsuarios" message="tns:IServiceContract_ObtenerTodosUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerTodosUsuariosResponse" message="tns:IServiceContract_ObtenerTodosUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuariosXDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerUsuariosXDepartamento" message="tns:IServiceContract_ObtenerUsuariosXDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerUsuariosXDepartamentoResponse" message="tns:IServiceContract_ObtenerUsuariosXDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleUsuarioAuditoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDetalleUsuarioAuditoria" message="tns:IServiceContract_ObtenerDetalleUsuarioAuditoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDetalleUsuarioAuditoriaResponse" message="tns:IServiceContract_ObtenerDetalleUsuarioAuditoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/EnviarDocumento" message="tns:IServiceContract_EnviarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/EnviarDocumentoResponse" message="tns:IServiceContract_EnviarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEventosIrregulares">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerEventosIrregulares" message="tns:IServiceContract_ObtenerEventosIrregulares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerEventosIrregularesResponse" message="tns:IServiceContract_ObtenerEventosIrregulares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDepartamentos" message="tns:IServiceContract_ObtenerDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDepartamentosResponse" message="tns:IServiceContract_ObtenerDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerTiposDocumento" message="tns:IServiceContract_ObtenerTiposDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerTiposDocumentoResponse" message="tns:IServiceContract_ObtenerTiposDocumento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceContract" type="tns:IServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDocumentosAuditoria">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDocumentosAuditoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleDocumentoAuditoria">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDetalleDocumentoAuditoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosDocumentosAuditoria">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerTodosDocumentosAuditoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosPorMigrar">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDocumentosPorMigrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosDeUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDocumentosDeUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumento">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleDocumento">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDetalleDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcarLeido">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/MarcarLeido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmarDocumento">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/FirmarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosUsuarios">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerTodosUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuariosXDepartamento">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerUsuariosXDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleUsuarioAuditoria">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDetalleUsuarioAuditoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumento">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/EnviarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEventosIrregulares">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerEventosIrregulares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposDocumento">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerTiposDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFOrchestrator">
    <wsdl:port name="BasicHttpBinding_IServiceContract" binding="tns:BasicHttpBinding_IServiceContract">
      <soap:address location="http://localhost:54274/ServiceContract.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>