Paperless.UI/Service References/WebService/WCFOrchestrator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFOrchestrator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54274/ServiceContract.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54274/ServiceContract.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54274/ServiceContract.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Paperless.Library" />
      <xsd:import schemaLocation="http://localhost:54274/ServiceContract.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceContract_ObtenerDocumentosAuditoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosAuditoria" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumentosAuditoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosAuditoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerTodosDocumentosAuditoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosDocumentosAuditoria" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerTodosDocumentosAuditoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosDocumentosAuditoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumentosPorMigrar_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosPorMigrar" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumentosPorMigrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosPorMigrarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerHistorialDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHistorialDocumento" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerHistorialDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHistorialDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumentosUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDocumentosUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocumentosUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_LogOn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOn" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_LogOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOnResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerHistorialUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHistorialUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerHistorialUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerHistorialUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerEventos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEventos" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerEventos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEventosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerEventosIrregulares_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEventosIrregulares" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerEventosIrregulares_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEventosIrregularesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerTiposDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposDocumento" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_ObtenerTiposDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposDocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceContract">
    <wsdl:operation name="ObtenerDocumentosAuditoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosAuditoria" message="tns:IServiceContract_ObtenerDocumentosAuditoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosAuditoriaResponse" message="tns:IServiceContract_ObtenerDocumentosAuditoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosDocumentosAuditoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerTodosDocumentosAuditoria" message="tns:IServiceContract_ObtenerTodosDocumentosAuditoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerTodosDocumentosAuditoriaResponse" message="tns:IServiceContract_ObtenerTodosDocumentosAuditoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosPorMigrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosPorMigrar" message="tns:IServiceContract_ObtenerDocumentosPorMigrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosPorMigrarResponse" message="tns:IServiceContract_ObtenerDocumentosPorMigrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerHistorialDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerHistorialDocumento" message="tns:IServiceContract_ObtenerHistorialDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerHistorialDocumentoResponse" message="tns:IServiceContract_ObtenerHistorialDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosUsuario" message="tns:IServiceContract_ObtenerDocumentosUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDocumentosUsuarioResponse" message="tns:IServiceContract_ObtenerDocumentosUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/LogOn" message="tns:IServiceContract_LogOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/LogOnResponse" message="tns:IServiceContract_LogOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerUsuario" message="tns:IServiceContract_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerUsuarioResponse" message="tns:IServiceContract_ObtenerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerHistorialUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerHistorialUsuario" message="tns:IServiceContract_ObtenerHistorialUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerHistorialUsuarioResponse" message="tns:IServiceContract_ObtenerHistorialUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEventos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerEventos" message="tns:IServiceContract_ObtenerEventos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerEventosResponse" message="tns:IServiceContract_ObtenerEventos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEventosIrregulares">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerEventosIrregulares" message="tns:IServiceContract_ObtenerEventosIrregulares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerEventosIrregularesResponse" message="tns:IServiceContract_ObtenerEventosIrregulares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDepartamentos" message="tns:IServiceContract_ObtenerDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerDepartamentosResponse" message="tns:IServiceContract_ObtenerDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/ObtenerTiposDocumento" message="tns:IServiceContract_ObtenerTiposDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/ObtenerTiposDocumentoResponse" message="tns:IServiceContract_ObtenerTiposDocumento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceContract" type="tns:IServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDocumentosAuditoria">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDocumentosAuditoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosDocumentosAuditoria">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerTodosDocumentosAuditoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosPorMigrar">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDocumentosPorMigrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHistorialDocumento">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerHistorialDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocumentosUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDocumentosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/LogOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerHistorialUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerHistorialUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEventos">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEventosIrregulares">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerEventosIrregulares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposDocumento">
      <soap:operation soapAction="http://tempuri.org/IServiceContract/ObtenerTiposDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFOrchestrator">
    <wsdl:port name="BasicHttpBinding_IServiceContract" binding="tns:BasicHttpBinding_IServiceContract">
      <soap:address location="http://localhost:54274/ServiceContract.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>